a:hover { 
    text-decoration: none;
    color: black;
}

.list-group {
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-header {
    max-height: 500px;
    margin-bottom: 10px;
    overflow:hidden;
    list-style-type: none;
    padding-left: 6px;
}

.list-group-item {
    padding: 0px;
    /* height: 28.8px; */
}

.panel-body {
    padding: 0px;
}

.panel-body {
    padding-left: 6px;
}

.scroll-list {
    color:black;
    font-size:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding:6px;
    display: block;
    height: 100%;
    text-decoration: none;
}

.scroll-list-header {
    color: black;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding: 0px;
}

.scroll-list-left {
    padding-left: 20px;
}

.bedBath {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-primary {
    width: 500px;
}

#result_panel {
    padding: 0px;
}

/* COPIED FROM W3SCHOOLS */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}