a:hover { 
    text-decoration: none;
    color: black;
}

.list-group {
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    padding: 0px;
}

.panel-body {
    padding: 0px;
}

.panel-body {
    padding-left: 6px;
}

.scroll-list {
    color:black;
    font-size:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding:6px;
    display: block;
    height: 100%;
    text-decoration: none;
}

.scroll-list-header {
    color: black;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    padding: 0px;
}

.scroll-list-left {
    padding-left: 20px;
}

.bedBath {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-primary {
    width: 500px;
}

#result_panel {
    padding: 0px;
}

