.form-control {
    display: inline-block;
    width: 250px;
    margin-top: 25px;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#lab_social_icon_footer {
    padding: 40px 0;
    background-color: #dedede;
}

.lnk{
    height: 45px;
    width: 45px;
    margin: 0 auto;
}