<!DOCTYPE html> 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
    
    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
</head>

<body>
    <div id="map">
        test
        <select id="selDataset" onchange="getData(this.value)">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <!-- some on click thing
        onclick="fbLikeDump();WriteCookie(); -->
        


    </div>


    <div class="panel panel-primary list-area" id="result_panel">
        <div class="panel-heading"><h3 class="panel-title">Result List</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li>
                    <span class="col-md-1 scroll-list-header scroll-list-left"></span>
                    <span class="col-md-3 scroll-list-header"><strong>Address</strong></span>
                    <span class="col-md-2 scroll-list-header"><strong>Location</strong></span> 
                    <span class="col-md-2 scroll-list-header"><strong>Price</strong></span>
                    <span class="col-md-1 scroll-list-header"><strong>Beds</strong></span>
                    <span class="col-md-1 scroll-list-header"><strong>Baths</strong></span>
                    <span class="col-md-2 scroll-list-header"><strong>Square feet</strong></span>
                </li>

            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
</body>

</html>